@model WebApp.Controllers.ShowTable
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Poorder and PoorderEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="FCustNo" class="control-label">供应商</label>
                <input asp-for="FCustNo" class="form-control" />
                <span asp-validation-for="FCustNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FDate" class="control-label">日期</label>
                <input asp-for="FDate" class="form-control" />
                <span asp-validation-for="FDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FRemark" class="control-label">备注</label>
                <input asp-for="FRemark" class="form-control" />
                <span asp-validation-for="FRemark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBillNo" class="control-label">单据编码</label>
                <input asp-for="FBillNo" class="form-control" />
                <span asp-validation-for="FBillNo" class="text-danger"></span>
            </div>
            @{
                var number = 2;
            }
            @for (int i = 0; i < number; i++)
            {
                var j = i + 1;
                <div>
                    <span>购买商品</span>
                    <span>@j</span>
                </div>
                <div class="form-group">
                <label asp-for="PoorderEntriesList[i].FItemNo" class="control-label">商品</label>
                        <input asp-for="PoorderEntriesList[i].FItemNo" class="form-control"/>
                <span asp-validation-for="PoorderEntriesList[i].FItemNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PoorderEntriesList[i].FQty" class="control-label">数量</label>
                    <input asp-for="PoorderEntriesList[i].FQty" class="form-control" />
                    <span asp-validation-for="PoorderEntriesList[i].FQty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PoorderEntriesList[i].FPrice" class="control-label">单价</label>
                    <input asp-for="PoorderEntriesList[i].FPrice" class="form-control" />
                    <span asp-validation-for="PoorderEntriesList[i].FPrice" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PoorderEntriesList[i].FAmount" class="control-label">金额</label>
                    <input asp-for="PoorderEntriesList[i].FAmount" class="form-control" />
                    <span asp-validation-for="PoorderEntriesList[i].FAmount" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PoorderEntriesList[i].FJHDate" class="control-label">交货日期</label>
                    <input asp-for="PoorderEntriesList[i].FJHDate" class="form-control" />
                    <span asp-validation-for="PoorderEntriesList[i].FJHDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PoorderEntriesList[i].FRemark" class="control-label">备注</label>
                    <input asp-for="PoorderEntriesList[i].FRemark" class="form-control" />
                    <span asp-validation-for="PoorderEntriesList[i].FRemark" class="text-danger"></span>
                </div>

                }
@*            <div>
                <input type="button" value="加购商品" />
            </div>*@
            <div class="form-group">
                <input id="submitl" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}